name: "Build"

concurrency: 
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: "src"

      - name: Checkout Aliucord
        uses: actions/checkout@master
        with:
          repository: "Aliucord/Aliucord"
          path: "repo"

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyFirstCommand-zip
          path: src/**/build/*.zip
          
